<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>파일 수정</title>
</head>
<body>
  <div id="name">{{username}}</div><br>
  <form action="/updatenfc" method="post" enctype="multipart/form-data">
    NFC 이름: <input type="text" name="nfcname"><br>
    <input type="text" id="username" name="username" style="display:none;"><br>
    <input type="file" name="file"><br><br>
    <input type="submit" value="수정하기">
  </form>

  <script>
    const username = document.querySelector("#name").innerHTML;

    document.querySelector("#username").value = username;
  </script>
</body>
</html>